.content{
    padding: 24px;
    // font-size: 18px;
}
.container{
    margin-top: 30px;
    width: 450px;
    height: 550px;
}
.container-item{
    // padding: 32px;
    width: 100%;
    height: 100%;
    // border-radius: 15px;
}
// .container-image{
//     width: 100%;
//     height: 100%;
// }
.image{
    border-radius: 15px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top right;
    width: 100%;
    height: 100vh;
}