.display-flex {
  display: flex;
  height: 38px;
  margin-bottom: 24px;
}
.display-flex > p {
  margin-right: 44px;
}
.title-page {
  font-weight: 700 !important;
  font-size: 24px !important;
  line-height: 29px !important;
  color: #202020 !important;
  margin-bottom: 0 !important;
  margin-left: 26px !important;
}

.title-input {
  font-weight: 700 !important;
  font-size: 16px !important;
  line-height: 22px !important;
  letter-spacing: 1px !important;
  text-transform: uppercase !important;
  color: #c7c7c7 !important;
  margin-bottom: 8px !important;
}
.input {
  width: 702px !important;
  height: 54px !important;
  border: 1px solid #c2c2c2 !important;
  border-radius: 14px !important;
}
.input-big {
  width: 702px !important;
  height: 148px !important;
  border: 1px solid #c2c2c2 !important;
  border-radius: 14px !important;
}
.center div[class='ant-modal-body'] {
  margin-left: 26px;
  padding: 24px;
}
.button {
  width: 150px !important;
  height: 48px !important;
  background: #fceed4 !important;
  border-radius: 9.44793px !important;
  font-weight: 600 !important;
  font-size: 17.5462px !important;
  line-height: 25px !important;
  color: #d58c00 !important;
  border: none !important;
  margin-right: 26px !important;
}
.button-feedback {
  width: 150px !important;
  height: 48px !important;
  background: #B6E9FF !important;
  border-radius: 9.44793px !important;
  font-weight: 600 !important;
  font-size: 17.5462px !important;
  line-height: 25px !important;
  color: #1e4db7 !important;
  border: none !important;
  margin-right: 26px !important;
}
