{
  "tabWidth": 4,
  "singleQuote": true,
  "semi": false,
  "printWidth": 120,
  "bracketSpacing": true,
  "arrowParens": "always",
  "bracketSameLine": false,
  "embeddedLanguageformattings": "auto",
  "htmlWhitespaceSensitivity": "css",
  "insertPragma": false,
  "jsxSingleQuote": false,
  "prosewrap": false,
  "quoteProps":"as-needed",
  "requirePrames": false,
  "trailingComma": "all",
  "userTabs": false,
  "vueIndentScriptAndStyle": false

}